
<div class="nb-exercices" *ngIf="exercices.length">Il y a {{exercices.length}} exerices.</div>
<div class="no-exercices" *ngIf="isVide()">Aucun exercice dans de programme</div>

<table>
  <tr class="exercice" *ngFor="let exercice of exercices; let dernier = last; let premier = first; let cpt = index" (click)="toggleExercice(exercice)">
    <td class="exercice-category" [class.l-text-danger]="exercice.isSelected">
      <i class="fi" [ngClass]="{'flaticon-people': exercice.category === 'LESSON',
      'flaticon-man-cycling': exercice.category === 'CARDIO_TRAINING',
      'flaticon-weightlifting': exercice.category === 'REINFORCEMENT'}">
      </i>
    </td>
    <td>{{exercice.type}}</td>
    <td>
      {{exercice.duration}}
      <span *ngIf="exercice.speed && exercice.duration">
              à
      </span>
      {{exercice.speed}}
      {{exercice.weigth}}
      {{exercice.nbRepetion}}

      <span [hidden]="!exercice.nbMouvement">
              x
      {{exercice.nbMouvement}}
      </span>
    </td>
    <td>{{exercice.comment}}</td>
    <td class="actions">
        <div class="ordering">
          <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="!premier" (click)="upExercice(cpt)"></i>
          <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="!dernier" (click)="downExercice(cpt)"></i>
          <ng-template #emptyCell><div>&nbsp;</div></ng-template>
        </div>
        <div class="deleting">
          <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteExercice(cpt)"></i>
        </div>
    </td>
  </tr>
</table>
